.contact-text {
    margin: 35px 30px 35px 30px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    margin: 35px 30px;
}

.contact-form input {
    background-color: var(--white);
    border-style: solid;
    border-color: #707070;
    padding: 15px;
    margin: 8px;
    height: 50px;
    width: 90%;
    display: block;
}

.contact-form textarea {
    background-color: var(--white);
    border-style: solid;
    border-color: #707070;
    padding: 15px;
    margin: 8px;
    height: 150px;
    width: 90%;
    display: block;
}

.contact-cta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 60%;
    margin-right: 82px;
}

.map {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact {
    min-height: 100vh;
}


/* For tablets: */
@media only screen and (min-width: 640px) {
    .contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .map iframe {
        height: 100%;
        width: 100%;
    }

    .contact-cta {
        margin-left: 50%;
    }

    .contact-text {
        width: 80%;
    }
}

/* For computer */
@media only screen and (min-width: 768px) {
    .contact-cta {
        margin-left: 75%;
    }

    .contact-text {
        width: 90%;
    }
}