:root {
    --black: #3c3c3c;
    --white: #fafafa;

    /* standard buttons (not CTA) */
    --primary: #6D9140;

    /* hover effect buttons (not CTA) */
    --secondary: #B0DE78;

    /* sections, header and footer  */
    --accent: #D6FFA3;

    /* CTA - stuff we *really* want people to notice */
    --cta: #823191;

    /* CTA hover color */
    --cta-hover: #CE78DE;

    /* margin og padding (whitespace) variabler*/
    --whitespace-xs: 0.5rem;
    --whitespace-sm: 1rem;
    --whitespace-md: 1.5rem;
    --whitespace-lg: 2.25rem;
    --whitespace-xl: 3.75rem;

    --border-radius: 3px;
    --shadow: 0 3px 6px #3c3c3c29;
}

/* ion-icon {
    font-size: 16px !important;
} */

body {
    background-color: var(--white);
    color: var(--black);
}

/* text */
h1,
h2,
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

p,
small,
a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

small {
    display: inline-block;
    font-size: 0.75rem;
    font-weight: bold;
}

a {
    display: inline-block;
}

a:not(.header-container a, .button) {
    color: var(--cta);
    text-decoration: underline;
}

.header-container a.active {
    text-decoration: underline;
}

.header-container a:not(.button):hover {
    color: var(--cta-hover);
}

a > ion-icon {
    color: var(--black);
}

/* Whitespace for sections*/
.container {
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: var(--whitespace-md);
}

.section-padding {
    padding-block: var(--whitespace-xl);
}

/* buttons */
.button {
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    color: var(--white);
    font-weight: bold;
    padding-block: var(--whitespace-sm);
    padding-inline: var(--whitespace-md);
}

.button:hover {
    color: var(--black);
}

.cta-button {
    background-color: var(--cta)
}

.cta-button:hover {
    background-color: var(--cta-hover);
}

.standard-button {
    background-color: var(--primary);
}

.standard-button:hover {
    background-color: var(--secondary);
}


/***** Call to aaction *****/
.cta-section a {
    margin-top: var(--whitespace-md);
}

/* Header - Vicky */

.header-container {
    position: fixed;
    z-index: 999;
}

header {
   background-color: var(--accent);
   padding-block: var(--whitespace-sm);
   padding-inline: 36px;
   position: fixed;
   z-index: 999;
   width: 100%;
}

.burger-menu {
    z-index: 99;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--whitespace-md);
}

.logo-wrapper{
    flex: 1;
}

.logo {
    height: 1.5rem;
    min-width: 3rem;
}

#burgerMenuIcon {
    cursor: pointer;
}

.desktop-navigation > a {
    margin-left: var(--whitespace-md);
}

.burger-menu{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--accent);
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding-block: var(--whitespace-md);
    padding-inline: 36px;
    gap: var(--whitespace-sm);
}

main{
    padding-top: 4rem ;
}

/***** Possibly Footer Stuff *****/
footer input {
    background-color: var(--white);
    border-radius: var(--border-radius);
    padding: var(--whitespace-sm);
    width: 100%;
}

.address-information {
    display: flex;
    gap: var(--whitespace-lg);
}

.address-information > div {
    flex-shrink: 0;
}

.address-information div *:not(:last-child) {
    margin-bottom: var(--whitespace-sm);
}


.socials-container {
    align-items: center;
    display: flex;
    gap: var(--whitespace-sm);
}

.socials-fake-icon {
    align-items: center;
    background-color: var(--white);
    border: 1px solid var(--black);
    display: flex;
    font-weight: bold;
    height: 36px;
    justify-content: center;
    width: 36px;
}

/***** Utility Classes *****/
.bg-accent {
    background-color: var(--accent);
}

.hidden {
    display: none;
}

.block {
    display: block;
}

.invisible {
    visibility: hidden;
}

.mb-xs {
    margin-bottom: var(--whitespace-xs);
}

.mb-sm {
    margin-bottom: var(--whitespace-sm);
}

.mb-md {
    margin-bottom: var(--whitespace-md);
}

.mb-lg {
    margin-bottom: var(--whitespace-lg);
}

.mt-lg {
    margin-top: var(--whitespace-lg);
}

.mb-xl {
    margin-bottom: var(--whitespace-xl);
}

.rounded {
    border-radius: var(--border-radius);
}

.rounded-left {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.rounded-top {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.shadow {
    box-shadow: var(--shadow);
}

.text-center {
    text-align: center;
}


@media only screen and (min-width: 1024px) {
    
    .logo {
        height: 3rem;
    }

    .lg-block {
        display: block;
    }

    .lg-hidden {
        display: none;
    }

    .footer-information {
        display: grid;
        gap: 36px;
        grid-template-columns: repeat(3, 1fr);
    }

    .lg-max-width-half {
        max-width: 50%;
        margin-inline: auto;
    }

    .lg-mt-0 {
        margin-top: 0;
    }

    .lg-text-center {
        text-align: center;
    }

    .cta-section {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .cta-section a {
        margin-top: 0;
    }

    .cta-text {
        max-width: 50%;
    }

}