.container{
    padding: 36px;
}

.number-icons{
    border-color: black;
    border-style: solid;
    border-width: 1px;
    width: 40px;
    height: 40px;
    margin: 2px 5px 2px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.number-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.some-icons{
    display: flex;
    flex-direction: row;
}

/*---------------------Values section---------------------*/

.values-color{
background-color: var(--accent);
}

.values-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.number-circles{
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    background-color: white;
    margin-right: 5px;
}

.number-circles{
    display: flex;
    justify-content: center;
    align-items: center;
}

.circles-header{
    display: flex;
    flex-direction: column;
}

.values{
    padding-bottom: 15px;
}

/*---------------------Boss section---------------------*/

.iris{
    padding-bottom: 20px;
}

.fb-linkin{
    border-color: black;
    border-style: solid;
    border-width: 1px;
    width: 40px;
    height: 40px;
    margin: 2px 5px 2px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.fb-linkin{
    display: flex;
    justify-content: center;
    align-items: center;
}


/*---------------------Media queries---------------------*/

/* For tablets: */
@media only screen and (min-width: 640px) {

}
    
/* For computer */
@media only screen and (min-width: 1024px) {

    .about-text{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .about-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .first-img{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .circles-header{
        flex-direction: column;
        align-items: center;
        margin-bottom: 18px;
    }

    .circles-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: var(--whitespace-xl);
    }

    .values{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .values-header > p {
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .number-circles{
        margin-right: 0;
        margin-bottom: 30px;
        height: 80px;
        width: 80px;
        font-size: 2rem;
    }

    
    .bosses-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 60px;
    }

    .boss-flex {
        display: flex;
        justify-content: center;
        gap: var(--whitespace-xl);
    }

    .boss-flex > div {
        max-width: 300px;
    }

}


